/*
	GLOBAL
*/
html, body { width: 100%; height: 100%; background-color: #FFFEF2; }

@font-face { font-family: 'GM'; src: url('../font/gotham.medium.ttf'); }
@font-face { font-family: 'HN'; src: url('../font/helvetica.neue.ttf'); }
@font-face { font-family: 'HNB'; src: url('../font/helvetica.neue.bold.ttf'); }

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/*
	PARTICLE SYSTEM
*/
#humans { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1;  }
.human, .borg { position: absolute; top: -10px; left: -10px; background: #3EAAC3; width: 25px; height: 25px; border-radius: 50%; opacity: .3; }

/*
	MAIN
*/
#wrapper { width: 1000px; height: 700px; position: relative; text-align: center; margin: 0 auto; opacity: 0; z-index: 2; }

#buttons { position: absolute; bottom: 0px; left: 347px; width: 312px; height: 43px; }

#videobutton { cursor: pointer; position: absolute; top: 0px; left: 0px; width: 149px; height: 43px; z-index: 100; display: none; }
#howitworksbutton { cursor: pointer; position: absolute; top: 0px; left: 0px; width: 149px; height: 43px; z-index: 100; }
#store { position: absolute; top: 0px; right: 0px; width: 149px; height: 43px; z-index: 100; }

#videothumb:active { -webkit-transform: scale(.95,.95);
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	transition:all .1s ease-in;
}

#videobuttonmobile { cursor: pointer; position: absolute; top: 0px; left: 0px; width: 236px; height: 69px; z-index: 100; display: none; }
#howitworksbuttonmobile { cursor: pointer; position: absolute; top: 0px; left: 0px; width: 236px; height: 69px; z-index: 100; display: none; }
#storemobile { position: absolute; top: 0px; right: 0px; width: 236px; height: 69px; z-index: 100; display: none; }

#sections .section { opacity: 0; display: none; }

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

#sections .section.section-on {	display: block; opacity: 1;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fadeInFromNone;
}

/*
	INTERACTIVE INSTRUCTIONS
*/

#instructions { width: 453px; margin: 0 auto; padding-top: 43px; position: relative;  }
#instructions .instruction { display: none; }
#instructions .on { display: block; }
#instructions .instruction p { font: normal 21px 'GM'; color: #5b5b5b; }
#instructions .instruction .copy-two { margin: 0px auto 48px auto; line-height: 28px; }
#instructions .instruction .copy-one { margin: 0px auto 76px auto; line-height: 28px; }
#instructions .instruction .one { width: 293px; }
#instructions .instruction .two { width: 330px; }
#instructions .instruction .three { width: 347px; }
#instructions .visual { display: block; width: 192px; height: 403px; position: absolute; left: 132px; }
#instructions .leftarrow { cursor: pointer; position: absolute; top: 310px; left: 0px; opacity: .4; }
#instructions .leftarrow:hover { opacity: 1; }
#instructions .leftarrow:active { -webkit-transform: scale(.9,.9);
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	transition:all .1s ease-in;
}
#instructions .rightarrow { cursor: pointer; position: absolute; top: 310px; right: 0px; opacity: .4; }
#instructions .rightarrow:hover { opacity: 1; }
#instructions .rightarrow:active { -webkit-transform: scale(.9,.9);
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	transition:all .1s ease-in;
}


/*
	ABOUT
*/
#about { padding-top: 220px; }
#about .logo { margin-bottom: 29px; }
#about .betalogo { margin-bottom: 24px; }
#about .section {  }
#about { margin-bottom: 50px; }
#about p { width: 448px; margin: 0 auto; text-align: left; margin-bottom: 28px; font: normal 14px 'HN'; color: #5b5b5b; line-height: 19px; }

/*
	LEGAL
*/
#legal { padding-top: 270px; }
#legal .logo { margin-bottom: 29px; }
#legal h2 { color: #676767; font: normal 14px 'HNB'; margin-bottom: 15px; }
#legal li { margin-bottom: 3px; }
#legal li a { color: #676767; font: normal 14px 'HN'; }

/*
	VIDEO PLAYER
*/
#video { position: relative; margin: 0px auto 50px auto; width: 960px; height: 580px; z-index: 100; }
#video img { position: absolute; top: 220px; left: 362px; width: 238px; height: 115px; }
#videocontainer { position: absolute; bottom: 0px; left: 0px; width: 960px; height: 540px; }
#videocontainer iframe { width: 100%; height: 100%; }

/*
	FOOTER
*/
#footer { position: fixed; bottom: 0px; left: 0px; width: 100%; height: 45px; background-color: #E6E6E6; z-index: 100; }

#footer .links { width: 308px; margin: 0 auto; padding-top: 14px; }

#footer a { color: #888888; font: normal 14px 'HNB'; opacity: .5; float: left; margin-right: 33px; }
#footer .last { margin-right: 0px; }
#footer .on { opacity: 1; }
#footer a:hover { opacity: 1; }

/*
	SKINNIES
*/
@media only screen and (max-width:640px) {
	body,html { height: 1020px; }

	#wrapper { width: 640px; }
	
	#buttons { bottom: 0px; left: 70px; width: 505px; }

	#videobutton, #store, #videobuttonmobile, #howitworksbutton { display: none; }
	#howitworksbuttonmobile, #storemobile { display: block; }

	.break { display: none; }

	#instructions { width: 570px; }
	#instructions .leftarrow { left: 61px; }
	#instructions .rightarrow { right: 61px; }
	#instructions .instruction .visual { left: 192px; }
	#instructions .instruction p { font-size: 28px; line-height: 33px; }
	#instructions .instruction .copy-two { line-height: 33px; margin: 0px auto 28px auto; }
	#instructions .instruction .copy-one { line-height: 33px; margin: 0px auto 61px auto; }

	#instructions .instruction .one { width: 371px; }
	#instructions .instruction .two { width: 330px; }
	#instructions .instruction .three { width: 447px; }
	#instructions .instruction .four { width: 570px; }

	/*
		VIDEO PLAYER
	*/
	#video { position: relative; margin: 0px auto 0px auto; width: 600px; height: 338px; z-index: 100; }
	#video img { display: none; }
	#videocontainer { position: absolute; top: 0px; left: 0px; width: 600px; height: 338px; padding-top: 180px; }

	#footer { height: 100px; }
	#footer .links { padding-top: 29px; width: 545px; }
	#footer a { font-size: 30px; }

	#legal { padding-top: 240px; }
	#legal h2 { font-size: 21px; }
	#legal li a { font-size: 22px; }

	#about { padding-top: 50px; }
	#about p { font-size: 26px; line-height: 32px; width: 560px; }
	#about .betalogo { margin-bottom: 34px; }
	#about .betalogo img { width: 100px; }
}

/*
	SHORTIES
*/
@media only screen and (max-width:640px) and (max-height:715px) {
	body,html { height: 1000px; }

	#wrapper { width: 640px; height: 680px; }

	#buttons { bottom: 70px; }

	#videocontainer { padding-top: 60px; }

	#instructions { padding-top: 0px; }
	#instructions .instruction .copy-one { margin: 0px auto 60px auto; }
	#instructions .leftarrow, #instructions .rightarrow { top: 270px; }

	#legal { padding-top: 184px; }

	#about { padding-top: 19px; }
	#about p { font-size: 26px; line-height: 32px; width: 560px; }
	#about .betalogo { margin-bottom: 34px; }
	#about .betalogo img { width: 100px; }
}